---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
---

<Layout title="Inicio" active="home">
    <Header/>
    <div class="max-w-[75%] mx-auto text-center mt-20 justify-center items-center">
        <h1 class="text-5xl mt-10 uppercase text-[--accent-color]">Planifica tus reuniones y viajes en grupo de forma simple y organizada.</h1>
    </div>
    <div class="max-w-[55%] mx-auto">
        <h3 class="text-3xl text-center mt-12 text-[--subtitles-color]">Con Planify, organiza actividades, divide gastos y explora nuevas opciones, todo en un solo lugar.</h3>
    </div>
    <div class="mx-auto gap-x-5 flex w-[45%] mt-8 justify-center items-center">
        <div>
            <img class="w-[70em] h-auto" src="/img/movil-planify.png" alt="Planify Logo"/>
        </div>
        <div>
            <p>Desde el equipo de Planify, nos esforzamos por ofrecer una plataforma de planificación que sea fácil de usar
                y que permita a los usuarios planificar sus actividades con facilidad.</p>
            <p>Con Planify, puedes planificar tus actividades, gestionar tus gastos y ahorrar dinero en todo momento.
                ¡Empieza a planificar hoy mismo!</p>
        </div>
    </div>
    <div class="max-w-[55%] mx-auto pb-40 mt-5 text-[--text-color]">
        <h3 class="text-3xl mt-12 text-[--subtitles-color]">¿Por qué elegir Planify?</h3>
        <p class="mt-5 pl-8">La herramienta definitiva para organizar y disfrutar tus planes en grupo.</p>
        <ul class="list-disc pl-20 list-inside mt-5 flex flex-col gap-y-4">
            <li>Organización fácil con calendario y eventos grupales.</li>
            <li>Gestión de gastos y compras con un sistema de presupuesto.</li>
            <li>Planificación de viajes y reuniones.</li>
            <li>División de gastos equitativa o personalizada.</li>
            <li>Comunicación fluida con chat integrado.</li>
            <li>Mapa interactivo para puntos de encuentro.</li>
            <li>Inteligencia artificial para recomendaciones turísticas.</li>
            <li>Gestión de gastos con tickets e imágenes.</li>
        </ul>
    </div>


</Layout>
