---
const href = Astro.props.href;
const width = Astro.props.width;
const textSize = Astro.props.textSize ? Astro.props.textSize : "";
---

<a
        href={href}
        class=`text-black hidden md:block dark:text-white bg-[--principal-color]/60 border border-black/20 dark:border-white/20 ${width} ${textSize} rounded-md hover:bg-[--principal-color] hover:text-white transition-all duration-[.4s]`
>
    <slot/>
</a>
