---

---
<aside class="w-64 fixed top-20 left-0 h-[calc(100vh-5rem)] border-r z-40 overflow-y-auto bg-gray-800">
    <nav class="p-4">
        <ul class="space-y-4 text-white">
            <li><a href="#introduccion" class="block hover:text-blue-600">Inicio rápido</a></li>
            <li><a href="#instalacion" class="block hover:text-blue-600">Instalación</a></li>
            <li><a href="#usage" class="block hover:text-blue-600">Guía de Uso</a></li>
            <li><a href="#configuration" class="block hover:text-blue-600">Configuración</a></li>
            <li><a href="#support" class="block hover:text-blue-600">Soporte</a></li>
            <li><a href="#faq" class="block hover:text-blue-600">Preguntas Frecuentes (FAQ)</a></li>
            <li><a href="#roadmap" class="block hover:text-blue-600">Hoja de ruta</a></li>
            <li><a href="#changelog" class="block hover:text-blue-600">Changelog</a></li>
            <li><a href="#licenses" class="block hover:text-blue-600">Licéncias</a></li>
            <li><a href="#terms" class="block hover:text-blue-600">Términos y Condiciones</a></li>
            <li><a href="#privacy" class="block hover:text-blue-600">Privacidad</a></li>
            <li><a href="#code-of-conduct" class="block hover:text-blue-600">Código de Conducta</a></li>
            <li><a href="#contributing" class="block hover:text-blue-600">Cómo contribuir</a></li>
            <li><a href="#donations" class="block hover:text-blue-600">Donaciones</a></li>
            <li><a href="#premium" class="block hover:text-blue-600">Premium</a></li>
            <li><a href="#acknowledgments" class="block hover:text-blue-600">Reconocimientos</a></li>
            <li><a href="#disclaimer" class="block hover:text-blue-600">Descargo de responsabilidad</a></li>
            <li><a href="#trademark" class="block hover:text-blue-600">Marca registrada</a></li>
        </ul>
    </nav>
</aside>