---
const { active } = Astro.props;
---

<nav class="navbar w-full flex justify-between gap-x-4 py-4 px-6 bg-[--navbar-bg] shadow-md">
    <div class="flex items-center gap-x-8">
        <a href="/" class="text-2xl font-bold">
            <img class="w-24 h-auto text-[--principal-color]" alt="Planify Logo" title="Planify" src="/img/planify-text-logo.svg"/>
        </a>
        <a
                href="/"
                class={`${
                    active === "home"
                        ? "text-[--text-color] cursor-not-allowed pointer-events-none"
                        : "text-[--unselected-text-color] hover:text-[--unselected-text-color-hover]"
                }`}
        >
            Inicio
        </a>
        <a
                href="/docs"
                class={`${
                    active === "documentation"
                        ? "text-[--text-color] cursor-not-allowed pointer-events-none"
                        : "text-[--unselected-text-color] hover:text-[--unselected-text-color-hover]"
                }`}
        >
            Documentación
        </a>
    </div>
    <a href="/register" class="text-black hover:text-white dark:text-white bg-[#297169]/60 border-black/20 px-4 py-2 rounded-md hover:bg-[--principal-color] transition-all duration-[.4s]">
        Registrarse
    </a>

</nav>
